<h2>Cadastro de Administrador</h2>

<form method="POST" action="novoAdmin">
	<label for="nomeAdmin">Nome</label>
	<input type="text" name="nomeAdmin">

	<label for="emailAdmin">Email</label>
	<input type="text" name="emailAdmin">

	<label for="senhaAdmin">Senha</label>
	<input type="password" name="senhaAdmin">

	<label for="senhaAdmin2">Confirmar senha</label>
	<input type="password" name="senhaAdmin2">

	<input type="submit">
	
</form>