<form action="/novaDuvida" method="POST">
	<label for="pergunta">Dúvida</label>
	<input type="text" name="pergunta">

	<label for="resposta">Resposta</label>
	<input type="text" name="resposta">

	<label for="link">Extra</label>
	<input type="text" name="link">

	<input type="submit">
	
</form>