<form action="/novoEvento" method="post">
	<label for="nomeEvento">Nome</label>
	<input type="text" name="nomeEvento" required />

	<label for="siglaEvento">Sigla</label>
	<input type="text" name="siglaEvento" required />

	<label for="dataEvento">Data de realização</label>
	<input type="date" name="dataEvento" required />

	<label for="estadoEvento">Estado</label>
	<input type="text" name="estadoEvento" required />

	<label for="cidadeEvento">Cidade</label>
	<input type="text" name="cidadeEvento" required />

	<label for="localEvento">Local</label>
	<input type="text" name="localEvento" required />

	<label for="tipoEvento">Tipo</label>
	<input type="radio" name="tipoEvento" value="0" /><span>Feira</span>
	<input type="radio" name="tipoEvento" value="1" /><span>Congresso</span>
	<input type="radio" name="tipoEvento" value="2" /><span>Simpósio</span>
	<input type="radio" name="tipoEvento" value="3" /><span>Outro</span>

	<label for="areaEvento">Área</label>
	<input type="radio" name="areaEvento" value="0" /><span>Exatas</span>
	<input type="radio" name="areaEvento" value="1" /><span>Humanas</span>
	<input type="radio" name="areaEvento" value="2" /><span>Agrárias</span>
	<input type="radio" name="areaEvento" value="3" /><span>Tecnológicas</span>

	<label for="nivelEvento">Área</label>
	<input type="radio" name="nivelEvento" value="0" /><span>Fundamental</span>
	<input type="radio" name="nivelEvento" value="1" /><span>Médio</span>
	<input type="radio" name="nivelEvento" value="2" /><span>Superior</span>
	<input type="radio" name="nivelEvento" value="3" /><span>Outro</span>

	<label for="siteEvento">Site</label>
	<input type="text" name="siteEvento"/>

	<label for="emailEvento">Email</label>
	<input type="text" name="emailEvento" />

	<label for="telefoneEvento">Telefone</label>
	<input type="text" name="telefoneEvento" required />

	<label for="textoEvento">Texto de Apresentação do Evento</label>
	<textarea name="textoEvento"></textarea>	

	<label for="imagemEvento">Link para imagem</label>
	<input type="text" name="imagemEvento">	


	<input type="submit">

	
</form>