<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Hear n' Aid</title>
  <meta charset="utf8">
  <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, user-scalable=0" />
  
  <!-- <link rel="stylesheet" type="text/css" href="css/normalize.css">  -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/style.css">  
  
</head>
<body>  
  <header id="titulo">    
    <h1>
        <a id="home" href="/">
           Teste
          </a>    
    </h1>     
  </header> 
  <main>
    <%= yield%>
  </main>  

</body>
</html>
